<!DOCTYPE html>
<html> 
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Technical Task for Points North</title>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <link href="https://kendo.cdn.telerik.com/2020.1.406/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<script src="https://kendo.cdn.telerik.com/2020.1.406/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2020.1.406/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2020.1.406/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2020.1.406/js/kendo.aspnetmvc.min.js"></script>
	<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <a href="@Url.Action("Index", "Home")">
            </a>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Technical Task (Points North)", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
    </div>
    <div class="body-content" align="center">
        @RenderBody()
        <hr />
    </div>
</body>
</html>

<style>
    body {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    /* Set padding to keep content from hitting the edges */
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 10px;
    }

    /* Override the default bootstrap behavior where horizontal description lists
        will truncate terms that are too long to fit in the left column
    */
    .dl-horizontal dt {
        white-space: normal;
    }

    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select {
        max-width: 280px;
    }

    h4, label, footer p, .btn-default {
        color: #555;
    }

    [hidden] {
        display: none !important;
    }

    .navbar-inverse {
        background-color: #13445a;
        border-width: 0px;
        padding: 5px 0px 3px 0px;
    }

        .navbar-inverse .navbar-brand {
            color: #fff;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: #fff;
        }

        .navbar-inverse .navbar-text {
            color: #fff;
        }

    .navbar-header > a > img {
        height: 50px;
        margin-right: 10px;
    }

    .control-label {
        text-align: left !important;
        font-weight: bold;
        font-size: 12px;
    }

    h3 {
        color: #13445a;
    }

    a, a:hover, a:visited, .text-info {
        color: #13445a;
    }

    .btn-primary {
        color: #fff;
        background-color: #2f9860;
        border-color: #2f9860;
    }

        .btn-primary:hover {
            background-color: #2f9860;
            border-color: #2f9860;
        }

    a.btn-primary {
        color: #fff;
    }

    label.btn label.btn-primary label.active {
        background-color: #2f9860;
        border-color: #2f9860;
    }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        background-color: #2f9860 !important;
        border-color: #2f9860 !important;
    }

    .field-validation-valid {
        display: none;
    }

    .validation-summary-valid {
        display: none;
    }
</style>
